<!DOCTYPE html>
<html lang="en">
<%- include("./includes/header.ejs") %> 

<body>
    <h1>404 Page not found</h1>
    <a href="/bookinfo" class="form-btn secondary-btn">Return to main app</a>
</body>
</html>