<!DOCTYPE html>
<html lang="en">
<%- include("./includes/header.ejs") %> 

<body>
    <header class="read-header">
        <h1>Book's Information</h1>
        <a href="/bookinfo" class="form-btn return-btn">&lt;&lt; Return</a>
    </header>
    <ul>
        <% for(let item of booksinfo) {%> 
        <li class="bookinfo-item">
            <strong class="bookinfo-title"><%= item.book_title %> </strong>
            <p class="bookinfo-summary"><%= item.book_summary %> </p>
        </li>
        <% } %> 
    </ul>
</body>
</html> 