<!DOCTYPE html>
<html lang="en">
<%- include("./includes/header.ejs") %> 

<body>
    <h1>CSE 340 Web Site - Hernan</h1>
    <ul>
        <li class="home-links"><a href="/bookinfo">Books Info</a></li>
    </ul>
</body>
</html>