<h1>Congratulations <%= name %>! You Sign In Sucessfully</h1>
<p>We are have created your access to out E-commerce app. You can now start:</p>
<u>
  <li>Reviewing Products</li>
  <li>Adding products to your cart</li>
  <li>Making orders</li>
  <li>Editing products of the app</li>
</u>

<p>We hope you will enjoy all these features with us. If you have any problem, please contact us</p>