@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: Roboto, sans-serif;
}

.record_book-form {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}


.wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 500px) 1fr;
}

.form-btn {
    border:none;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 13.5px;

}

.main-btn {
    background-color: #F8333C;
    color: white;
}

.secondary-btn {
    background-color: #DBD5B5;
    color: black;
}


input[type="text"] {
    border-radius: 100px;
    background-color: #EBEBEB;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 5px gray;


}

input[type="text"]:focus {
    outline: none;
    border: none;
}

textarea, textarea:focus {
    border: none;
    outline: none;


}

textarea {
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    width: 100%;
    padding: 8px;
}

#bookname-ipt {
    margin-bottom: 10px;
}

.form-options {
    margin: 10px 0px;
}

.form-options * {
    margin-right: 10px;
}


ul.list-apps {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    align-content: center;
    align-items: center;
}

ul.list-apps p {
    margin: 0px;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    font-weight: 200;
    padding: 8px;
}

ul.list-apps strong {
    border-radius: 8px 8px 0px 0px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-family: Bitter, serif;
}

ul.list-apps li:nth-child(5n+1) strong {
    background-color: #F8333C;
}
ul.list-apps li:nth-child(5n+2) strong {
    background-color: #FCAB10;
}

ul.list-apps li:nth-child(5n+3) strong {
    background-color: #2B9EB3;
}

ul.list-apps li:nth-child(5n+4) strong {
    background-color: #44AF69;
}

ul.list-apps li:nth-child(5n+5) strong {
    background-color: #9E7153;
}






.list-apps li {
    margin: 7px;
    width: 300px;
}

body {
    background-color: #F5F5F5;
}


.return-btn {
    background-color: #4A6C6F;
    color: white;
}


.read-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 20px;
}


.read-header h1 {
    margin: 3px;
}


a {
    text-decoration: none;
}

.home-links {
    background-color: #2B9EB3;
    padding: 10px 20px;
    border-radius: 5px;

}

.home-links a {
    display: block;
    color: black;
}

